@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Arima+Madurai:wght@100;200;300;400;500;700&family=Kristi&family=Overlock&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #5B5970 ;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;    
}

h2{
    margin:0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #5B5970 ;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #CFC4C0 ;
  height: 90px;
}

.navbar {
    padding: 5px;
    background-color: #CFC4C0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100% ; /* Full width */
    display:flex;
    justify-content: space-around;
    justify-items: left;
    align-items:center;
    }


.navbar a{
    color:#393956; 
    text-decoration: none;
    font-family: "Overlock", 'Brush Scipt MT', bold;
    padding: 30px;
    

}

nav a:hover{
    padding: 30px;
    background-color:#DFB186 ;
    color:#5B5970;
    text-decoration: none;
    font-family: "Overlock", 'Brush Scipt MT', bold;
}

.logo{
    padding-top: 5px;
    object-position: left;
    align-self:center;
    width: 100px;
    padding: 5px
}

#logo_link{
    padding-top: 5px;
}
.home-title{
    color: white;
    padding-top: 5px;
    text-align: center; 
}

#hero{
    display:grid;
    grid-template-columns:100px 1fr 100px;  
}
#hero-box img {
    width: 100%;
    

}#hero-msg h1{
    grid-row: 2/3;
    grid-column: 2/3;
}
#hero-box { 
    grid-column: 1/4;
    grid-row: 1/2;
}

#hero-msg {
    color: white;
    grid-column: 2/3;
    grid-row: 3/4;  
    font-size: .8em; 
    text-align: justify;
}

.home-grid {
    
    display: grid;
    margin-left: 50px;
    width: 200px;
    grid-template-columns: repeat(2, 1fr);
}
.home-grid img{
    width: 600px;
    height: 500px;
    object-fit: cover;
    justify-content: center; 
    margin: 50px; 
    border-radius: 15px;
}
.direct{
    justify-content: center;
    align-items: center;
}
.puppy-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 50px;
    padding: 50px;
}
.puppy-card img{
    width: 450px;
}

.dog-grid h2{
    margin-top: 80px;
    text-align: center;
    font-size:2em;
    font-family: "Overlock", 'Brush Scipt MT', bold;
    color: #DFB186;
}

.dog-grid p{
    margin: 80px;
    text-align: center;
    font-size:1.5em;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
    color: #ffffff;
}
.puppy-card h5{
    margin: 50px;
    text-align:left;
    color: white;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
    font-size: 1.2em;
}
#examples img{
    width: 250px;
    align-content: center;
    justify-content: space-around;
}
#examples{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    align-items: center;
    justify-content: space-around;
}
.good-examples-card{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px; 
    padding: 50px;
    background-color: white;
    border: 1px  #CFC4C0;
}
.good-examples-card img{
    display: grid;
    grid-template-columns:  200px;
    margin: 10px;
}
#img1{ 
    float:left;
}
#img2{
    float:right;
}
#img3{
    float:left;
}
.good-examples-card h3{
    margin-top: 30px;
    text-align: center;
    color:#393956;
    font-size: 1.5em;
    font-family: "Overlock", 'Brush Scipt MT', bold;
}
.checklist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px;
    padding:50px;
}
.good-checklist h2{
    margin-top: 100px;
    text-align: center;
    color:white;
    font-size: 1.8em;
    font-family: "Overlock", 'Brush Scipt MT', bold;
}
.good-checklist p{
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif; 
    color:white;
    font-size: .7em; 
}
.bad-examples-card{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px; 
    padding: 50px;
    background-color: white;
    border: 1px  #CFC4C0;
    display: grid;
    grid-template-columns: 450px;
}
.bad-examples-card img{
    width: 400px;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 20px;
    
}
.bad-examples-card h3{
    margin-top: 30px;
    text-align: center;
    color:#393956;
    font-size: 1.8em;
    font-family: "Overlock", 'Brush Scipt MT', bold;
}
.look-out h2{
    margin-top: 100px;
    text-align: center;
    color:white;
    font-size: 1.8em;
    font-family: "Overlock", 'Brush Scipt MT', bold;
}
.look-out p {
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif; 
    color:white;
    font-size: .7em;  
}

.adopt-card{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px;
    padding: 50px;
} 
.adopt-card img{
    width: 450px;
}
.adopt-card h5{
    
    text-align: right;
    color: white;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
    font-size: 1.2em;
    width: 650px;
}

.info-card{
    margin: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
}
.doodle-grid h2{
    margin-top: 90px;
    align-content: center;
    justify-content: center;
    font-family: "Overlock", 'Brush Scipt MT', bold;
    color: #DFB186;
    text-align: center;
    font-size: 3em;
}

.info-card img{
    width: 500px;
    height: 400px;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
    grid-column: 1 ;  
}
#info-text {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
    padding: 40px;
    color: white;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
}
.generation-card{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.generation-card h1{
    font-family: "Overlock", 'Brush Scipt MT', bold;
    color: #DFB186;
    text-align: center;
    font-size: 4em;
    grid-column: 2/3;
}
.generation-card img{
    align-items: center;
    justify-content:space-evenly;
    grid-column: 2/3;
}
.generation-card h3,.generation-card p{
    grid-column: 2/3;
    text-align: center;
    color: white;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
}
.colors-card h3{
    font-family: "Overlock", 'Brush Scipt MT', bold;
    color: #DFB186;
    text-align: center;
    font-size: 2em;  
}
.colors{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}
.colors img{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 600px;

    border-radius: 15px;
}
.colors p{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: left;
    color: white;
    font-family: "Quicksand",Helvetica, 'Lato', sans-serif;
}
.what-card h2, .what-card p{
    margin:50px;
    padding:20px;
    text-align: center;
}
.where-card h2, .where-card p{
    margin:50px;
    padding:20px;
    text-align: center;
}
.button-box{
    text-align: center;
    justify-content: center;
}
.direct{
    background-color:#DFB186;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-family: "Overlock", 'Brush Scipt MT', bold;
    padding: 15px 30px; 
    border-radius: 5px;
    max-width: 100px;

}
main section img{
    box-sizing: border-box;
}
.direct:hover {
    background-color: #393956;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer{
    background-color:#393956;
    padding: 25px 50px; 
    margin-top: 200px; 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color: #DFB186;
    text-decoration: underline;
}

footer p{
    font-size: 1.2em;
    font-family:  "Quicksand",Helvetica, 'Lato', sans-serif;
    text-decoration: none;
    color: white  
}

footer.social img{
    padding-top: 15px;
}

div.social img{
    width: 50px;
}